<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="pagination(currentPage, totalPages, url, params)"
       class="pagination-wrapper">
    <nav th:if="${totalPages > 1}">
      <ul class="pagination">
        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
          <a class="page-link"
             th:href="@{${url}(page=${currentPage - 1})}">
            <i class="ti ti-chevron-left"></i>
          </a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
            class="page-item"
            th:classappend="${i == currentPage} ? 'active'">
          <a class="page-link"
             th:href="@{${url}(page=${i})}"
             th:text="${i + 1}">1</a>
        </li>
        <li class="page-item"
            th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
          <a class="page-link"
             th:href="@{${url}(page=${currentPage + 1})}">
            <i class="ti ti-chevron-right"></i>
          </a>
        </li>
      </ul>
      <span class="pagination-info"
            th:text="'Page ' + (${currentPage + 1}) + ' sur ' + ${totalPages}">
      </span>
    </nav>
  </div>
</body>
</html>